name: 'Deploy to Codesphere'

on:
  workflow_dispatch:
  pull_request:
    types:
    - closed
    - opened
    - reopened
    - synchronize

permissions:
  contents: read
  pull-requests: read
  deployments: write
  statuses: write

jobs:
  deploy:
    concurrency: codesphere
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Codesphere
        uses: codesphere-cloud/gh-action-deploy@main
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
            email: ${{ secrets.CODESPHERE_EMAIL }}
            password: ${{ secrets.CLOUD_CODESPHERE_PASSWORD }}
            team: ${{ secrets.CLOUD_CODESPHERE_TEAM }}
            plan: Micro
            onDemand: true
            env: |
              NODE_ENV=development
              DEBUG=true
            apiUrl: https://cloud.codesphere.com/
            tlsAllowUnauthorized: "true"
